{% extends "khanal_tech_integrations/www/intranet/base.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.2.2/css/fixedColumns.dataTables.min.css">
<style>
  .buttons-csv,
  .buttons-excel,
  .buttons-print {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 11px;
    list-style: none;
    margin-left: 10px;
    padding: 7px 16px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
</style>


<table id="inventoryDatatable" class="stripe row-border order-column nowrap" style="width:100%">
  <thead>
    <tr>
      <th>Sl</th>
      <th>Item Code</th>
      <th>ItemName</th>
      {% for entry in result|sort(attribute='createddate', reverse=True) %}
      <th> {{ frappe.format_date(entry.createddate) }} </th>
      {% endfor %}
      <th>DistNumber</th>
      <th>Ware House</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Sl</th>
      <th>Item Code</th>
      <th>ItemName</th>
      {% for entry in result|sort(attribute='createddate', reverse=True) %}
    <th> {{ frappe.format_date(entry.createddate) }} </th>
      {% endfor %}
      <th>DistNumber</th>
      <th>Ware House</th>
    </tr>
  </tfoot>
  <tbody></tbody>
</table>



{% endblock content %}



{% block javascripts %}






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<!-- <script src="/assets/khanal_tech_integrations/assets/js/myorder.js"></script> -->


<script src="https://cdn.datatables.net/buttons/2.3.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.print.min.js"></script>

<script src="https://cdn.datatables.net/fixedcolumns/4.2.2/js/dataTables.fixedColumns.min.js"></script>

<script>
  $(document).ready(function () {

    $('#inventoryDatatable').DataTable({
      scrollX: true,
      scrollCollapse: true,
      paging: true,
      fixedColumns: {
        left: 2,
        right: 2
      },
      dom: 'lBfrtip',
      buttons: [
        'csv', 'excel'
      ],
      order: [[0, 'asc']],
    });
  });

  $(document).ready(function() {
  // AJAX request to retrieve the JSON data
  $.ajax({
    method: "GET",
    url: "/",
    dataType: 'json',
    contentType: 'application/json; charset=utf-8',
    data: {
      cmd: "khanal_tech_integrations.www.intranet.inventory_report.datatable_data",
    },
    success: function(response) {
      var result = JSON.parse(response.message);
      var table = $('#inventoryDatatable').DataTable();
      table.clear();

      var uniqueDataList = [];
      var serialNumber = 1;

      result.forEach(function(entry) {
        entry.lineitems.forEach(function(lineItem) {
          var itemIdentifier = lineItem.ItemCode + lineItem.DistNumber + lineItem.WhsCode;

          var rowData = [
            serialNumber,
            lineItem.ItemCode,
            lineItem.ItemName
          ];

          result.forEach(function(entry2) {
            var filteredLineItems = entry2.lineitems.filter(function(item) {
              return (
                item.ItemCode === lineItem.ItemCode &&
                item.DistNumber === lineItem.DistNumber &&
                item.WhsCode === lineItem.WhsCode
              );
            });

            var quantity = filteredLineItems.length > 0 ? filteredLineItems[0].Quantity : '';
            rowData.push(quantity);
          });

          rowData.push(lineItem.DistNumber);
          rowData.push(lineItem.WhsCode);

          var rowDataString = JSON.stringify(rowData.slice(1));

          if (!uniqueDataList.includes(rowDataString)) {
            uniqueDataList.push(rowDataString);
            table.row.add(rowData);
            serialNumber++;
          }
        });
      });

      table.draw();
    }
  });
});

  //  $(document).ready(function () {
  //   $('#inventoryDatatable').DataTable({
  //       scrollX: true,
  //       scrollCollapse: true,
  //       paging: true,
  //       fixedColumns: {
  //           left: 2,
  //           right: 2
  //       },
  //       dom: 'lBfrtip',
  //       buttons: [
  //           'csv', 'excel'
  //       ],
  //       order: [[0, 'asc']],
  //       createdRow: function(row, data, dataIndex) {
  //           var serialNumber = dataIndex + 1;
  //           var firstTd = $(row).find('td:first-child');
  //           $(firstTd).text(serialNumber);
  //       },
  //       columnDefs: [
  //           { targets: 0, type: 'natural' }
  //       ],
  //       serverSide: true,
  //       ajax: {
  //           method: "GET",
  //           url: "/api/method/khanal_tech_integrations.www.intranet.inventory_report.datatable_data",
  //           dataSrc: "",
  //       },
  //       columns: [
  //           // Define your column definitions here
  //           { data: 'ItemCode' },
  //           { data: 'Quantity' },
  //           { data: 'DistNumber' },
  //           { data: 'ItemName' },
  //           { data: 'WhsCode' },
  //           { data: 'ExpDate' },
  //           { data: 'MnfDate' },
  //       ]
  //   });
  // });


</script>




{% endblock javascripts %}