{%  extends "khanal_tech_integrations/www/intranet2/base.html" %}

{% block content %}
<div class="content-wrapper">
  <div class="content">             
    <!-- Table Product -->
    <div class="row">
      <div class="col-12">
        <div class="card card-default">
          <div class="card-header">
            <h2>My Orders </h2>
            <div class="col-lg-6 d-flex justify-content-xl-end flex-column flex-wrap align-items-lg-end">
                <div id="mini-status-range" class="date-range date-range-lg bg-white">
                  <span class="date-holder text-dark"></span>
                  <i class="mdi mdi-menu-down"></i>
                </div>
                <span class="time-zone">Select date range</span>
            </div>
          </div>
          <div class="card-body">
            <table id="ordersTable" class="table table-hover table-product" style="width:100%">
              <thead>
                <tr>
                  <th>#</th>
                  <th>SO No.</th>
                  <th>Customer</th>
                  <th>Invoice No.</th>
                  <th>Invoice Amount</th>
                  <th>Status</th>

                  <!--th>Daily Sale</th-->
                  <!--th>Sold</th-->
                  <!--th>In Stock</th-->
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% for data in logistics_data %}
                <tr>
                  <!--td></td-->
                  <td> {{ loop.index }} </td>
                  <!-- <td> <a href="/app/sap-sales-order/{{ data[1] }}" target="_blank"> {{ data[1] }} </a></td> -->
                  <td>{{ data[1] }}</td>
                  <td>{{ data[3] }} <b>({{ data[2] }})</b></td>
                  <td>{% if data[9] %} 
                    <span style='color:green!important;font-weight:bold'> {{data[9]}} </span> 
                    {% else %} 
                    <span class="badge badge-square badge-warning">PENDING</span> 
                    {% endif %} 
                  </td>
                  <td align="right"> {% if data[10] %} {{ "{:,.2f}".format(data[10]|float) }} {% else %} 0.00 {% endif %} </td>
                  <td>
                    {% if data[8] %}
                        <span style='color:green!important;font-weight:bold'> Shipped </span> 
                    {% elif data[9] %}
                        <span style='color:orange!important;font-weight:bold'> Invoice Created </span> 
                    {% elif data[4] %}
                        Delivery Note Created
                    {% else %}
                        SO Created
                    {% endif %}
                  </td>
                  <!--td>
                    <div id="tbl-chart-01"></div> 
                  </td-->
                  <!--td>4</td-->
                  <!--td>18</td-->
                  <td>
                    {% if data[8] %}
                    <div class="dropdown">
                      <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                      </a>
                      
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        {% if 'safexpress' == data[7].lower() %}
                        <a class="dropdown-item" href="https://www.aftership.com/track/{{data[7].lower()}}/{{data[8]}}" target="_blank" >Track</a>
                        {% elif data[7].lower() == "bluedart"  %}
                        <a class="dropdown-item" href="https://www.trackingmore.com/track/en/{{data[8]}}?express=bluedart" target="_blank" >Track</a>
                        {% endif %}
                        
                        
                      </div>
                      
                    </div>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}

                <!--tr>
                  <td class="py-0">
                    <img src="/assets/khanal_tech_integrations/images/products/products-xs-05.jpg" alt="Product Image">
                  </td>
                  <td>Speed 500 Ignite</td>
                  <td>24545</td>
                  <td>8</td>
                  <td>3</td>
                  <td>4</td>
                  <td>
                    <div id="tbl-chart-05"></div>
                  </td>
                  <td>8</td>
                  <td>42</td>
                  <td>
                    <div class="dropdown">
                      <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                      </a>

                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div>
                  </td>
                </tr-->

                
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
     
</div>
  
</div>

{% endblock content %}

{% block javascripts %}
{{ super() }}

<script>
  jQuery(document).ready(function() {
    $('#mini-status-range').on('apply.daterangepicker', function(ev, picker) {
      console.log(picker.startDate.format('YYYY-MM-DD'));
      console.log(picker.endDate.format('YYYY-MM-DD'));
    });



    jQuery('input[name="dateRange"]').daterangepicker({
    autoUpdateInput: false,
    singleDatePicker: true,
    locale: {
      cancelLabel: 'Clear'
    }
  });
    jQuery('input[name="mini-status-range"]').on('apply.daterangepicker', function (ev, picker) {
      jQuery(this).val(picker.startDate.format('MM/DD/YYYY'));
      console.log($('input[name="mini-status-range"]').val());
    });
    jQuery('input[name="dateRange"]').on('cancel.daterangepicker', function (ev, picker) {
      jQuery(this).val('');
    });
  });
</script>
{% endblock javascripts %}
